*
{
    margin: 0;
}
nav ul
{
    display: flex;
}
nav li
{
    list-style: none;
    margin-right: 10px;
    font-size: 2em;
    font-weight: 700;
}
nav li a
{
    text-decoration: none;
    color: #000;
}
.nav_menu
{
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: center;
}
.nav_menu li 
{
    padding: 25px;
}
.nav_menu a
{
    padding: 3px 40px;
    border: 3px solid;
}
.nav_menu a:hover
{
   background-color:lightcoral ;
}
.audio
{
    background-color: azure;
    height: 60px;
    width: 600px;
    border: 6px solid;
    margin-top: 60px;
    margin-left: 260px;
}
.audio h1
{
    text-align: center;
    padding-top:16px ;
}