*
{
    margin: 0;
}
nav ul
{
    display: flex;
}
nav li
{
    list-style: none;
    margin-right: 10px;
    font-size: 2em;
    font-weight: 700;
}
nav li a
{
    text-decoration: none;
    color: #000;
}
.nav_menu
{
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: center;
}
.nav_menu li 
{
    padding: 25px;
}
.nav_menu a
{
    padding: 0 5px;
}
.nav_menu a:hover
{
   background-color:lightcoral ;
}